.admin-main {
  display: grid;
  height: 100vh;
  grid-template: auto / 1fr 1fr 1fr;
  padding: 2rem;
  margin: 2rem;
  align-items: start;
  justify-items: center;
}

@media(max-width: 1200px) {
  .admin-main {
    grid-template: auto 1fr / 1fr 1fr;
  }
  .results {
    grid-area: 2 / 1 / 2 / 1;
  }
}

.admin-main form {
  width: 20rem;
}

.date label {
  width: 2rem;
  border: 1px solid black;
}

.admin-checkbox {
  cursor: initial;
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--pri);
  transition-duration: 0.3s;
  background-color: var(--sec);
}

.admin-checkbox.active {
    border: 1px solid var(--pri);
    background-color: var(--pri);
}

.rate-type {
  display: flex;
  padding: 1rem 0.5rem;
}

.rate-type .dropdown {
  background: black;
  color: white;
  position: relative;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate-type .dropdown .arrow {
  transform: rotate(-90deg);
}

.rate-type .dropdown:hover .arrow {
  color: black;
  transform: rotate(0);
}

.rate-type .select, .rate-type .select .overflow{
  display: flex;
  flex-direction: column;
}

.rate-type .overflow { border-bottom: 1px solid black; }
.rate-type .select span {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 4px 8px;
  display: flex;
  cursor: pointer;
}

.rate-type .rates span {
  background: white;
  color: black;
}

.rate-type .dropdown, .rate-type .select span { width: 8rem; }

.rate-type .dropdown:hover {
  background: white;
  color: black;
}

.amount {
  padding-left: 1rem;
}

.rate-type .dollar{
  position: absolute;
  left: 0;
}

.rate-type .charge {
  padding: 4px 8px;
  position: relative;
  border: 1px solid black;
  height: 100%;
  width: 6rem;
}
