/* Vars */
  :root {
    --outline: rgb(0 0 0);
    --pri: rgb(32 201 198);
    --sec: rgb(255 255 255);
  }

/* Checkbox */
  .checkbox {
      display: inline-flex;
      cursor: pointer;
      position: relative;
  }
  .checkbox > input {
      height: 1rem;
      width: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: 1px solid var(--outline);
      outline: none;
      transition-duration: 0.3s;
      background-color: var(--sec);
      cursor: pointer;
      border-radius: 0.2rem;
    }
  .checkbox > input:checked {
      border: 1px solid var(--outline);
      background-color: var(--pri);
  }

/* Input */
  textarea, input {
    -webkit-appearance: none;
    border-radius: 0;
  }
