# ai-edge-torch # deprecated
# litert-torch
albumentations # preprocessing
click<8.2
import-ipynb==0.2
jupyter
matplotlib
numpy
onnx
onnx2tf
onnxscript
opencv-python-headless
pandas
protobuf<4.21.0
pycocotools
tensorflow
timm
torch==2.6.0+cu124
torchvision==0.21.0+cu124
ultralytics # YOLO26-M
