# python -m ipykernel install --user --name esp32-ml --display-name "ESP32 ML"

ultralytics # YOLO26-M
albumentations # preprocessing
torch
torchvision
numpy
onnx
ai-edge-torch
pycocotools
jupyter
matplotlib
opencv-python-headless
