ultralytics # YOLO26-M
albumentations # preprocessing
torch==2.6.0+cu124
torchvision==0.21.0+cu124
numpy
onnx
# ai-edge-torch # deprecated
# litert-torch
onnx2tf
tensorflow
pycocotools
jupyter
matplotlib
opencv-python-headless
onnxscript
protobuf<4.21.0
click<8.2
pandas
import-ipynb==0.2
