@font-face {
    font-family: 'Inknut Antiqua';
    font-weight: bold;
    src: url(static/inknut_antiqua_bold.ttf);
}

:root {
    --font-families--sans-serif: 'Open Sans', Arial, sans-serif, serif;
    --font-families--serif: 'McKay', 'Baskerville', 'Palatino', 'Palatino Linotype', 'Inknut Antiqua',
    'Georgia', 'Times New Roman', serif;
    --textColor: var(--grey-125);
}

:root {
    /* --typography-h1: normal 700 32px/1.2 var(--font-families--sans-serif); */
    --typography-h1: bold 700 20px/1.2 var(--font-families--serif);
    --typography-h3: normal 700 20px/1.2 var(--font-families--sans-serif);

    --typography-lead: normal 300 16px/1.4 var(--font-families--sans-serif);
    --typography-body: normal 400 18px/1.6 var(--font-families--serif);
    --typography-body-em: normal 300 18px/1.6 var(--font-families--sans-serif);
    --typography-citation: normal 400 13px/1.4 var(--font-families--sans-serif);
    --typography-description: normal 400 14px/1.4 var(--font-families--sans-serif);
    --typography-placeholder: normal 400 13px/1.4 var(--font-families--serif);
    --typography-formInput: normal 400 16px/1.6 var(--font-families--sans-serif);
    --typography-legal: normal 400 11px/1.4 var(--font-families--sans-serif);
    --typography-button: normal 300 16px/1.6 var(--font-families--sans-serif);
    --typography-quote: var(--typography-button);
    --typography-pullQuote: italic 700 28px/1.4 var(--font-families--serif);
}

:root {
    --sans: 'Ensign:Sans', Arial, 'noto sans', sans-serif;
    --serif: 'Ensign:Serif', 'Georgia', 'Times New Roman', serif;
    --monospace: Courier, 'Courier New', monospace;
    --fontWeightLight: 300;
    --fontWeightNormal: 400;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
    --fontSizeRoot: 100%;
    --fontSize11: 0.6875rem;
    --fontSize13: 0.8125rem;
    --fontSize14: 0.875rem;
    --fontSize16: 1rem;
    --fontSize18: 1.125rem;
    --fontSize20: 1.25rem;
    --fontSize28: 1.75rem;
    --fontSize32: 2rem;
    --fontSize42: 2.625rem;
    --lineHeightTight: 1.2;
    --lineHeight: 1.4;
    --lineHeightLoose: 1.6;
}

:root {
    --spacing-unite-1: 4px;
    --spacing-unite-2: 8px;
    --spacing-unite-3: 16px;
    --spacing-unite-4: 24px;
    --spacing-relate: 32px;
    --spacing-separate-1: 64px;
    --spacing-separate-1a: 96px;
    --spacing-separate-2: 128px;
    --font-size-11: 0.6875rem;
    --font-size-13: 0.8125rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-42: 2.625rem;
    --icon-size-small: 1rem;
    --icon-size-large: 1.5rem;
    --line-height-tight: 1.2;
    --line-height: 1.4;
    --line-height-loose: 1.6;
}
