:root {
    --screen-md: 500px;
    --screen-lg: 1200px;

    --spacing4: 0.25rem;
    --spacing8: 0.5rem;
    --spacing16: 1rem;
    --spacing24: 1.5rem;
    --spacing32: 2rem;
    --spacing48: 3rem;
    --spacing64: 4rem;
    --spacing96: 6rem;
    --spacing128: 8rem;
    --breakWidth480: 480px;
    --breakWidth600: 600px;
    --breakWidth840: 840px;
    --breakWidth960: 960px;
    --breakWidth1280: 1280px;
    --breakWidth1440: 1440px;
    --breakWidth1600: 1600px;
    --zIndexHigherThanPlatform: 200;
}
